$colors: (
  text-primary: #2E2E2E,
  text-secondary: #fff,
  background-basic: #fff,
  background-primary: #371809,
  background-secondary: #683217,
  background-terc: #895330,
  background-footer: #dcdcdc,
  input-text: #838181,
  input-background:#EDEDED,
  input-border: #79747E,
);
